APP_NAME=GeoLedger
ENVIRONMENT=development

BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000

DATABASE_URL=postgresql://geoledger:geoledger@localhost:5432/geoledger

ALLOWED_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

PINATA_JWT=your_pinata_jwt_here
PINATA_UPLOAD_URL=https://api.pinata.cloud/pinning/pinFileToIPFS
PINATA_GATEWAY_URL=https://gateway.pinata.cloud/ipfs


